<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-success text-white text-center">
          <h3><%= @event.title %></h3>
        </div>
        <div class="card-body">
          <p class="card-text"><strong>Description:</strong></p>
          <p><%= @event.description %></p>
          <ul class="list-unstyled">
            <li><strong>Location:</strong> <%= @event.location %></li>
            <li><strong>Date:</strong> <%= @event.date.strftime("%B %d, %Y") %></li>
            <li><strong>Category:</strong> <%= @event.category %></li>
            <li><strong>Created By:</strong> <%= @event.creator.name %></li>
          </ul>
          <p class="card-text"><strong>Attendees:</strong></p>
          <ul class="list-unstyled">
            <% @event.attendees.each do |attendee| %>
              <li><%= attendee.name %></li>
            <% end %>
          </ul>
        </div>
        <% if @event.creator == current_user %>
          <div class="text-center mb-3">
            <%= link_to "Edit Event", edit_event_path(@event), class: "btn btn-warning btn-lg" %>
            <%= link_to "Delete Event", event_path(@event), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class: "btn btn-danger btn-lg" %>
          </div>
        <% end %>
        <div class="card-footer d-flex justify-content-between">
          <%= button_to "Attend Event", attend_event_path(@event), method: :post, class: "btn btn-primary" %>
          <%= link_to "Back to Events", events_path, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>